:root {
    --fg: black;
    --dimm: #424242;
    --bg: white;
    --light: #efefef;
    --blockquote: rgba(31, 31, 31, .1);
    --special: #1b54bd;
}

html, body {
    margin: 0;
    background: var(--bg);
    color: var(--fg);
    font-size: 16px;
}

* {
    font-family: 'Overpass Mono', monospace;
    box-sizing: border-box;
}

html {
    display: flex;
    justify-content: center;
    width: 100%;
    overflow-y: scroll;
}

body {
    padding: 1rem;
    width: 100%;
    max-width: 720px;
}

header {
    display: flex;
    align-items: center;
    width: 100%;
    font-size: 1.25rem;
    margin-bottom: 1.25rem;
}

nav {
    display: flex;
    align-items: center;
    flex-wrap: wrap;
    width: 100%;
}

.logo {
    margin-right: auto;
}

header nav a {
    padding-right: 1rem;
}

a {
    text-decoration: none;
    color: var(--fg);
    cursor: pointer;
}

a:hover {
    text-decoration: underline;
}

.title {
    font-size: 1.5rem;
    font-weight: bold;
}

p {
    text-align: justify;
}

.row {
    display: flex;
    align-items: center;
}

.row * {
    margin-right: .25rem;
}

.row :last-child {
    margin-right: 0;
}

.blog-item {
    display: flex;
    flex-direction: column;
    justify-content: center;
    gap: .25rem;
    margin: 1rem 0;
}

.blog-item * {
    margin: 0;
}

.blog-item .title {
}

.blog-item .title span {
    margin-right: .5rem;
}

.blog-item .meta {
    display: flex;
    align-items: center;
    gap: .5rem;
}

.blog-item .meta .date {
    color: var(--dimm);
}

.blog-item .meta .description {
}

.tag-item {
    margin: 1rem 0;
}

.tags {
    display: flex;
    align-items: center;
    flex-wrap: wrap;
    gap: .5rem;
    flex: auto;
}

.tags a {
    background: var(--light);
    padding: .25rem;
    border-radius: .25rem;
}

.top {
    display: flex;
    flex-direction: column;
    justify-content: center;
    gap: 1rem;
}

.top .blog-item {
    margin: 0;
}