:root {
    --fg: black;
    --bg: white;
    --blockquote-bg: #efefef;
}

html, body {
    margin: 0;
    background: var(--bg);
    color: var(--fg);
}

* {
    font-family: 'Faustina', 'Bitter', serif;
    box-sizing: border-box;
}

html {
    display: flex;
    justify-content: center;
    width: 100%;
    overflow-y: scroll;
}

body {
    padding: 1rem;
    width: 100%;
    max-width: 720px;
}

header {
    font-size: 1.25rem;
    display: flex;
    align-items: center;
    margin-bottom: 1.5rem;
}

header nav a {
    padding-right: 1rem;
}

a {
    text-decoration: none;
    color: var(--fg);
    cursor: pointer;
}

a:hover {
    text-decoration: underline;
}

h1, .title {
    font-size: 1.5rem;
    margin: 1rem 0;
    font-weight: bold;
}


h2 {
    margin: .5rem 0;
}

p {
    text-align: justify;
}

.inline {
    display: flex;
    align-items: center;
}

.breadcrumb {
    font-size: 1.5rem;
    font-weight: bold;
}

.delimiter {
    font-size: 1.5rem;
    margin: 0 .5rem;
}

.blog-item {
    display: grid;
    grid-gap: .5rem;
    align-items: center;
    grid-template-columns: auto 1fr;
    margin: 1rem 0;
}

.blog-item .title {
    grid-column: 1/2;
    grid-row: 1/2;
    margin: 0;
}

.blog-item .date {
    grid-column: 2/3;
    grid-row: 1/2;
    margin: 0 0 0 auto;
    font-style: italic;
}

.blog-item .description {
    grid-column: 1/3;
    grid-row: 2/3;
    margin: 0;
}

.tag-item {
    margin: 1rem 0;
}