.anchorjs-link {
    color: var(--dimm);
}

*:hover > .anchorjs-link {
    text-decoration: none;
}

.content .footnote-back {
    text-decoration: none;
}

.content * {
    word-break: keep-all;
}

.content a {
    word-break: break-word;
}

.content hr {
    border: none;
    border-top: 1px solid var(--dimm);
}

.content blockquote {
    background: var(--blockquote);
    padding-inline: .5rem;
    padding-block: .15rem;
    margin-inline: 0;
    border-left: 3px solid var(--dimm);
}

.content p:has(quote) {
    text-align: right;
    font-style: italic;
    margin-block: 0;
}

.content img {
    display: block;
    max-width: 100%;
    max-height: 50vh;
    margin-left: auto;
    margin-right: auto;
    object-fit: contain;
}

.content figure {
    display: flex;
    flex-direction: column;
    align-items: center;
    gap: 1rem;
    margin: 0;
}

.content figure figcaption {
    font-style: italic;
}

.content svg {
    display: flex;
    margin: auto;
}

.content a {
    text-decoration: underline;
}

.content a:hover {
    color: var(--special);
}

.content code {
    background: var(--light);
}

.content p code {
    padding: .1rem .3rem;
    border-radius: .3rem;
}

.content .hljs {
    background: var(--light) !important;
    border-radius: .3rem;
}

.content ul {
    margin-block: 0;
    margin-inline: 0;
    padding-left: 2ch;
}

.content li, .content li p {
    margin: .5em;
}

.content p {
    margin-block: .5em;
}

table, th, td {
    border-collapse: collapse;
    border: 1px solid var(--dimm);
}

th, td {
    padding: .5rem;
}

th {
    background: var(--light);
}
