<!doctype html>
<html lang="en">
<head>
	<meta charset="utf-8">
	<meta name="viewport" content="width=device-width, initial-scale=1">
	<meta property="og:url" content="$url$"/>
	<meta property="og:title" content="$title$"/>
	$if(description)$
	<meta property="og:description" content="$description$"/>
	$endif$
	<!--TODO: cover image-->
	<title>ivnj - $title$</title>
	<link rel="stylesheet" href="/css/default.css"/>
	<link rel="stylesheet" href="/css/md.css"/>
	<link rel="preconnect" href="https://fonts.googleapis.com">
	<link rel="preconnect" href="https://fonts.gstatic.com" crossorigin>
	<link href="https://fonts.googleapis.com/css2?family=Bitter:ital,wght@0,200;0,400;0,700;1,200;1,400;1,700&family=Faustina:ital,wght@0,300;0,400;0,700;1,300;1,400;1,700&display=swap"
	      rel="stylesheet">
</head>
<body>
<header>
	<nav>
		<a href="/">ivnj blog</a>
		<a href="/about.html">about</a>
	</nav>
</header>

<main role="main">
	$body$
</main>
</body>
</html>
