<div class="top">
	<div class="inline">
		<span class="delimiter">/</span>
		<a class="breadcrumb" href="/posts.html">posts</a>
		<span class="delimiter">/</span>
		<a class="breadcrumb" href="$url$">$title$</a>
	</div>

	<div class="blog-item">
		<a class="title" href="$url$">&lt;&gt; $title$</a>
		<div class="meta">
			<p class="date">$date$</p>
			<p class="tags">$tags$</p>
		</div>
	</div>
</div>

<div class="content">
	$body$
</div>

<script src="https://giscus.app/client.js"
        data-repo="ivanjermakov/blog"
        data-repo-id="R_kgDOGyNZGw"
        data-category="blog comments"
        data-category-id="DIC_kwDOGyNZG84CBEZn"
        data-mapping="og:title"
        data-reactions-enabled="1"
        data-emit-metadata="0"
        data-input-position="top"
        data-theme="preferred_color_scheme"
        data-lang="en"
        crossorigin="anonymous"
        async>
</script>